.login-section {
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/assets/login-bg.jpeg);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    padding: 10rem 0;
    position: relative;
}

.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3.2rem;
    background-color: var(--light-brown);
    padding: 5.6rem 4rem;
    border-radius: 2rem;
}

.login-container h2 {
    font-size: 4.8rem;
    color: var(--brown);
    font-weight: 800;
    margin-bottom: 30px;
}

.login-container .input-field {
    width: 60rem;
}

.login-container .input-label {
    font-size: 3.2rem;
    font-weight: 800;
    color: var(--orange);
    margin-bottom: 1rem;
}

.login-container label:nth-child(even) {
    margin-top: 3.2rem;
}

.email-input, .password-input {
    display: flex;
    flex-direction: column; 
}

.login-container button {
    background-color: var(--orange);
    color: var(--white);
    font-size: 2rem;
    font-weight: 800;
    border-radius: 1rem;
}

.login-container p {
    font-size: 2.4rem;
    font-weight: 800;
    color: var(--brown);
    align-self: center;
}

.login-container p a {
    color: var(--orange);
    text-decoration: none;
}

.log-in-input-field{
    width: 100%;
    color: var(--brown);
    padding: 0.8rem 0.5rem;
    border-radius: 1rem;
    border: 0.1rem solid var(--brown);
}

.log-in-input-field::placeholder{
    color: var(--brown);
}