<section class="hero-section">
    <div class="hero-headings">
        <h1 class="heading-primary">WELCOME TO MOVIE UNIVERSE GALLERY</h1>
        <p class="paragraph">Step into the world of cinema through our exclusive collection of moments, events, and behind-the-scenes highlights. Experience the magic beyond the screen!</p>
    </div>
</section>

<section class="gallery-section">
    <div class="container">
        <h2>Picture that describe us</h2>
        <div class="pictures">
            <img src="/assets/image1.jpeg" alt="">
            <img src="/assets/image2.jpeg" alt="">
            <img src="/assets/image3.jpeg" alt="">
            <img src="/assets/image4.jpeg" alt="">
            <img src="/assets/image5.jpeg" alt="">
        </div>
    </div>
    
</section>
