<header class="header">
  <nav class="navigation">
    <a routerLink="/">
      <img class="logo-image" src="assets/logo.png" alt="Movie Universe Logo">
    </a>
    <div class="navigation-links">
      <a class="navigation-link" routerLink="/">Home</a>
      <a class="navigation-link" routerLink="/about">About</a>
      <a class="navigation-link" routerLink="/gallery">Gallery</a>
      <a class="navigation-link" routerLink="/movies">Movies</a>
      <a class="navigation-link" routerLink="/cinemas">Cinemas</a>
      <a class="navigation-link log-in-button" routerLink="/login" *ngIf="!service.getActiveUser()">LogIn</a>
      <a class="navigation-link" routerLink="/user" *ngIf="service.getActiveUser()">Profile</a>
      <button class="navigation-link log-out-button" *ngIf="service.getActiveUser()" (click)="doLogout()">Log out</button>
    </div>
  </nav>
</header>

<router-outlet />

<footer class="footer">
  <div class="container">
    <div class="footer-links">
      <a class="footer-link" routerLink="/">Home</a>
      <a class="footer-link" routerLink="/about">About</a>
      <a class="footer-link" routerLink="/gallery">Gallery</a>
      <a class="footer-link" routerLink="/movies">Movies</a>
      <a class="footer-link" routerLink="/cinemas">Cinemas</a>
    </div>

    <div class="contact-info">
      <ul>
        <li><img src="/assets/phone-icon.svg" alt="" width="45" height="45">064123456</li>
        <li><img src="/assets/location-icon.svg" alt="" width="45" height="45">Usce Beograd</li>
        <li><img src="/assets/mail-icon.svg" alt="" width="45" height="45">movieuniverse.com</li>
      </ul>
    </div>
  </div>
</footer>
