<section class="hero-section">
    <div class="hero-headings">
        <h1 class="heading-primary">Movies Page</h1>
        <h2 class="heading-secondary">You can see the entire offer here</h2>
    </div>
</section>
<section class="movies-section">
    <div class="container">
        <input type="text" [(ngModel)]="searchQuery" placeholder="Pretraži filmove..." />

        <select [(ngModel)]="selectedGenre">
            <option [value]="null">Izaberi žanr</option>
            <option *ngFor="let genre of genres" [value]="genre.genreId">{{ genre.name }}</option>
        </select>

        <select [(ngModel)]="selectedDirector">
            <option [value]="null">Izaberi režisera</option>
            <option *ngFor="let director of directors" [value]="director.directorId">{{ director.name }}</option>
        </select>

        <select [(ngModel)]="selectedActor">
            <option [value]="null">Izaberi glumca</option>
            <option *ngFor="let actor of actors" [value]="actor.actorId">{{ actor.name }}</option>
        </select>

        <select [(ngModel)]="selectedRuntime">
            <option [value]="null">Izaberi trajanje</option>
            <option *ngFor="let runtime of runtimes" [value]="runtime">{{ runtime }} min</option>
        </select>

        <button (click)="searchMovies()">Pretraži</button>
    </div>
    <div class="container grid grid--3-column" *ngIf="movies">
        <mat-card class="example-card" *ngFor="let movie of movies">
            <img class="movie-poster" src="{{movie.poster}}" alt="{{movie.originalTitle}}">
            <mat-card-content>
                <h3 class="paragraph card-heading">Title:</h3>
                <span class="card-heading-span">{{movie.originalTitle}}</span>
                <h3 class="paragraph card-heading">Short Description:</h3>
                <span class="card-heading-span">{{movie.shortDescription}}</span>
                <h3 class="paragraph card-heading">Duration:</h3>
                <span class="card-heading-span">{{movie.runTime}}min</span>
            </mat-card-content>
            <mat-card-actions class="cta-card-buttons">
              <a class="cta-card-button" [routerLink]="['/details/',movie.movieId]">Details</a>
              <a class="cta-card-button" [routerLink]="['/details/'+movie.movieId+'/booking']">Reserve</a>
            </mat-card-actions>
        </mat-card>
    </div>
</section>
