<section class="main-section">
    <div class="main-header">
        <h1 class="heading-primary">User information</h1>
    </div>
</section>
<section class="user-information">
    <div class="container grid grid--4-column" *ngIf="user">
        <div class="user-basic-info">
            <img class="user-profile-img" [src]="['https://ui-avatars.com/api/?name='+user.email]">
            <p>Total orders:{{user.orders.length}}</p>
        </div>
        <div class="user-email">
            <p>Email: {{user.email}}</p>
            <button class="change-button">Change email</button>
        </div>
        <div class="user-password">
            <p>Password: {{user.password}}</p>
            <button class="change-button" (click)="doChangePassword()">Change password</button>
        </div>
    </div>
</section>
<section class="orders-information">
    <div *ngIf="orders.length == 0">
        <h1 style="color: blueviolet; font-size: 50px;">NEMA ORDERA</h1>
    </div>
    <div *ngIf="orders.length > 0">
        <h1 style="color: blueviolet;">SPISAK ORDERA</h1>
        <ul>
            <li *ngFor="let order of orders" style="color: blueviolet;">{{order.title}}</li>
        </ul>
    </div>
</section>

