/* MAIN SECTION */

.main-section{
    background-color: var(--light-brown);
    max-width: 100%;
    height: 100vh;
    position: relative;
}

.main-header{
    color: var(--brown);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* USER INFORMATION */

.user-information{
    background-color: var(--brown);
    padding: 8.6rem 0rem;
    font-size: 1.8rem;
}

.user-profile-img{
    border-radius: 50%;
}

.user-basic-info{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.change-button{
    background-color: var(--orange);
    border: none;
    padding: 1rem 2rem;
    border-radius: 1rem;
    color: var(--white);
    font-size: 1.6rem;
    font-weight: bold;
}

/* ORDERS SECTION */

.orders-information{
    background-color: var(--light-brown);
    padding: 8.6rem 0rem;
}

.custom-table{
    background-color: var(--brown);
    padding: 2rem 1rem;
    border: 0.2rem solid var(--orange);
    border-radius: 1rem;
}

.table-heading{
    font-size: 1.8rem;
    color: var(--orange);
}

.table-content{
    font-size: 1.2rem;
    color: var(--light-brown);
}

.container-user{
    width: 90%;
    margin: 0 auto;
}

.user-btn-action{
    background-color: var(--orange);
    color: var(--white);
    border: none;
    margin-right: 0.8rem;
    font-weight: bold;
    padding: 1.2rem 2rem;
    border-radius: 1rem;
}

.user-a-action{
    text-decoration: none;
    font-weight: bold;
    color: var(--white);
    margin-right: 0.8rem;
    padding: 1.2rem 2rem;
    background-color: var(--orange);
    border-radius: 1rem;

}

.cancel{
    background-color: var(--red);
}