<section class="hero-section">

    <video class="video-bg" autoplay muted loop>    
        <source src="/assets/herovideo.mp4" type="video/mp4">
    </video>
    <div class="hero-content">
        <h1 class="heading-primary">WELCOME TO MOVIE UNIVERSE</h1>
        <h2 class="heading-secondary">Where Movies Come to Life!</h2>
        <p class="paragraph">Immerse yourself in the ultimate movie experience! From the latest blockbusters to indie masterpieces – everything awaits you at our cinema. Book your tickets today and secure the best seat for your next cinematic adventure!</p>
        <button><a href="/movies">BOOK YOUR TICKET NOW>></a></button>
    </div>
    
    
</section>
<section class="movies-section">
    <div *ngIf="error">
        <h3>Oops, an error occured!</h3>
        <p>{{error}}</p>
    </div>
    <div class="container movies-section-heading">
        <h2 class="heading-secondary">Discover Your Next Favorite Movie!</h2>
    </div>
    <div class="container grid grid--3-column" *ngIf="movies">
        <mat-card class="example-card" appearance="outlined" *ngFor="let movie of movies">
            <img class="movie-poster" src="{{movie.poster}}" alt="{{movie.originalTitle}}">
            <mat-card-content>
                <h3 class="paragraph card-heading">Title:</h3>
                <span class="card-heading-span">{{movie.originalTitle}}</span>
                <h3 class="paragraph card-heading">Short Description:</h3>
                <span class="card-heading-span">{{movie.shortDescription}}</span>
                <h3 class="paragraph card-heading">Duration:</h3>
                <span class="card-heading-span">{{movie.runTime}}min</span>
            </mat-card-content>
            <mat-card-actions class="cta-card-buttons">
              <a class="cta-card-button" [routerLink]="['details/',movie.movieId]">Details</a>
              <a class="cta-card-button" [routerLink]="['/details/'+movie.movieId+'/booking']">Reserve</a>
            </mat-card-actions>
        </mat-card>
    </div>
    <div class="container movies-section-cta-button">
        <a routerLink="/movies" class="cta-movie-button">Browse all films</a>
    </div>
    <div *ngIf="!movies && !error">
        <p>podaci se ucitavaju</p>
    </div>
</section>
<section class="testimonial-section">
    <div class="container">
        <h2>What Our Visitors Say</h2>
        <div class="testimonial">
            <img class="profile-picture" src="/assets/71ee0be67a603e99a26544662f2b5442.jpeg" alt="">
            <h4>Mark Johnson</h4>
            <p>"An outstanding cinema experience! The picture quality and surround sound were absolutely phenomenal. Can't wait for my next visit!"</p>
            <img class="stars-picture" src="/assets/stars.png" alt="">
        </div>
    </div>
</section>


